<section class="about-project">
  <div class="container">
    <h2 class="section-title">O Projekcie</h2>
    
    <div class="cards-container">
      <article class="card">
        <div class="card-icon">
          <img src="/brain-green.png" alt="Brain Icon" class="icon-image">
        </div>
        <h3 class="card-title">Autorska sieć neuronowa</h3>
        <p class="card-description">
          Zbudowana od podstaw sieć neuronowa, zoptymalizowana do precyzyjnej analizy danych pod kątem wczesnych wskaźników choroby Parkinsona.
        </p>
      </article>

      <article class="card">
        <div class="card-icon">
          <img src="/medal-green.png" alt="Medal Icon" class="icon-image">
        </div>
        <h3 class="card-title">85% Dokładność Detekcji</h3>
        <p class="card-description">
          System wykazał 85% dokładności w wykrywaniu choroby Parkinsona we wczesnych stadiach na podstawie wprowadzonych danych zdrowotnych.
        </p>
      </article>

      <article class="card">
        <div class="card-icon">
          <img src="/database-green.png" alt="Database Icon" class="icon-image">
        </div>
        <h3 class="card-title">Oczyszanie danych</h3>
        <p class="card-description">
          Do trenowania modelu wykorzystano zbiór danych pochodzący z serwisu Kaggle. Przed użyciem dane zostały starannie oczyszczone, aby zapewnić ich spójność i wysoką jakość.  
        </p>
      </article>
    </div>
  </div>
</section>
